body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: #282c34;
}

#fileContent {
    width: 100%;
    high: 50%
    margin: 20px auto;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.5;
}

@media (max-width: 600px) {
    #fileContent {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    #fileContent {
        font-size: 14px;
    }
}
